.current-projects {
    .section-title {
        h2 {
            color: $white;
        }
    }
    .section-desc{
        p{
            color: $whitetwo;
        }
    }
}

@media screen and (max-width:768px) {
    .current-projects{
        img{
            width: 100%;
        }
    }
    .work-img-area{
        img{
            height: 600px;
        }
    }
}