.theme-btn {
    text-decoration: none;
    font-family: $roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    border: 1px solid transparent;
    padding: 15px 40px;
    text-transform: capitalize;
    border-radius: 6px;
    transition: all ease-in-out 0.3s;
}

.theme-btn-red {
    color: $white;
    background-color: $red;

    &:hover {
        background-color: transparent;
        color: $white;
        border-color: $red;
    }
}