.footer-area {

    .footer-heading {
        h4 {
            font-family: $poppins;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-transform: capitalize;
            margin-bottom: 20px;
            color: $white;
        }
    }

    .text-widgets {
        h5 {
            font-family: $poppins;
            font-weight: 600;
            font-size: 18px;
            line-height: 20px;
            color: $white;
            margin: 20px 0px;
        }

        p {
            font-family: $roboto;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: $white;
        }
    }

    .footer-list {
        li {
            font-family: $roboto;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            color: $whitetwo;
            margin: 8px 0px;

            i {
                margin-right: 15px;
            }
        }
    }

    .form-area {
        form {
            position: relative;

            input {
                width: 100%;
                padding: 16px 40px 16px 18px;
                border-radius: 10px;
                border: none;

                &::placeholder {
                    font-family: $roboto;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 20px;
                    text-transform: capitalize;
                    color: #636363;
                }

                &.input-btn {
                    width: fit-content;
                    padding: 8px 24px 8px 24px;
                    border-radius: 6px;
                    background: $redtwo;
                    font-family: $roboto;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 26px;
                    color: $white;
                    position: absolute;
                    top: 8px;
                    right: 8px;
                }
            }
        }
    }

    .footer-subheading {
        h4 {
            font-family: $poppins;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: $white;
        }
    }

    .social-list {
        display: flex;
        align-items: center;

        li {
            a {
                color: #7E7E81;
                margin-right: 8px;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                background-color: $blue;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: $white;

            }
        }
    }

    .copyright-area {
        p {
            font-family: $roboto;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: $lightGray2;
            text-transform: uppercase;
        }
    }
}

@media screen and (max-width:480px) {
    .footer-area .text-widgets h5 {
        font-size: 16px;
    }

    .footer-area .text-widgets p {
        font-size: 15px;
    }

    .footer-area .footer-list li {
        margin: 12px 0px;
    }

    .footer-area .form-area form input {
        padding: 12px;
    }

    .footer-area .form-area form input.input-btn {
        top: 3px;
    }
}