    // Fonts 
    $poppins: 'Poppins', sans-serif;
    $roboto: 'Roboto',sans-serif;

    // colors

    $white:#ffffff;
    $lightWhite:#EFEFEF;
    $whitetwo:#F6F6F6;
    $red:#CF2417;
    $redtwo:#C92015;
    $dark:#696563;
    $darkthree:#F0F0F0;
    $darktwo:#1A374D;
    $lightdark:#0C072A;
    $gray:#F6F6F6;
    $lightGray:#667488;
    $lightGray2:#EDEDED;
    $black:#302F32;
    $blue:#165aa4;
    $text:#667488;
    $textdark:#1E232E;
    $inputbg:#F5F5F5;
    $placeholder:#AFAFAF;