    // Fonts 
    $poppins: 'Poppins', sans-serif;
    $roboto: 'Roboto',sans-serif;

    // colors

    $white:#ffffff;
    $lightWhite:#EFEFEF;
    $red:#CF2417;
    $dark:#696563;
    $gray:#F6F6F6;