.subscribe-area {
    .subscribe-heading {
        padding: 0px 200px;

        h2 {
            color: #fff;
            text-align: center;
            line-height: 52px;
        }

    }

    form {
        position: relative;
        input {
            width: 100%;
            height: 60px;
            padding-left: 30px;
            &::placeholder{
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: #7E7E81;
                text-transform: capitalize;
            }
            &.subscribe-btn{
                width: 215px;
                padding-left: 0px;
                position: absolute;
                right: 0;
                top: 0;
                background-color: #1DA8DF;
                color: #fff;
                border: none;
                font-weight: 700;
                font-size: 15px;
                text-transform: capitalize;
            }
        }
    }
}