.contact-area {
    .contact-wrapper {
        padding: 60px 30px;
        border-radius: 16px;

        .contact-area-left {
            h4 {
                font-weight: 600;
                font-size: 20px;
                line-height: 32px;
                color: $lightdark;
                margin-bottom: 15px;
            }

            p {
                color: $text;
                margin-right: 80px;
            }

            ul {
                li {

                    i,
                    span {
                        font-size: 14px;
                        line-height: 20px;
                        color: $text;

                    }

                    span {
                        margin-left: 5px;
                    }

                    margin-bottom: 10px;

                }
            }

            .checkbox-area {
                display: flex;
                align-items: start;

                input {
                    margin-top: 7px;
                    margin-right: 10px;
                }

                span {
                    line-height: 28px;
                    color: $text;
                }
            }
        }
    }

}


// contact area small

.contact-area-small {
    .contact-bg {

        background: #edf1f1;
        border-radius: 16px;
    }



    h4 {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: $lightdark;
    }

    h5 {
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: #0C072A;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: $lightGray;
        margin-top: 10px;
    }

    ul {
        li {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #667488;
            margin-bottom: 20px;

            i {
                margin-right: 10px;
            }
        }
    }

    form.checkbox-area {
        display: flex;

        span {
            font-family: $roboto;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: $lightGray;
        }

        input {
            height: 22px;
            width: 22px;
            margin-right: 10px;
            margin-top: 5px;
        }
    }

    .contact-form-area {
        padding: 15px;
    }
}

@media screen and (min-width:480px) and (max-width:992px) {
    .contact-area-small {
        .contact-bg {
            padding: 20px 80px;
        }
    }
}